kind: Service
apiVersion: v1
metadata:
  name: postgres
  namespace: agro-medicoes
spec:
  selector:
    app: postgres
  ports:
    - name: postgres
      port: 5432    
      targetPort: 5432
      nodePort: 30032
  type: NodePort