apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
  namespace: agro-medicoes
spec:
  serviceName: rabbitmq
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:3-management-alpine
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          imagePullPolicy: IfNotPresent

          ports:
            - name: amqp
              containerPort: 5672
            - name: management
              containerPort: 15672

          envFrom:
            - secretRef:
                name: rabbitmq-auth

          env:
            - name: RABBITMQ_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

          volumeMounts:
            - name: rabbitmq-data
              mountPath: /var/lib/rabbitmq

          readinessProbe:
            exec:
              command:
                - rabbitmq-diagnostics
                - check_running
            initialDelaySeconds: 90
            periodSeconds: 20
            timeoutSeconds: 10

  volumeClaimTemplates:
    - metadata:
        name: rabbitmq-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi