apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: agro-medicoes
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - name: interface
      port: 3000
      targetPort: 3000
      nodePort: 30000