apiVersion: v1
kind: Service
metadata:
  name: otel-collector
  namespace: agro-medicoes
spec:
  selector:
    app: otel-collector
  ports:
    - name: otlp-grpc
      port: 4317
    - name: otlp-http
      port: 4318
    - name: metrics
      port: 8888
    - name: exporter
      port: 8889