apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempo
  namespace: agro-medicoes
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempo
  template:
    metadata:
      labels:
        app: tempo
    spec:
      containers:
        - name: tempo
          image: grafana/tempo:2.3.1
          args: ["-config.file=/etc/tempo/tempo-config.yaml"]
          ports:
            - containerPort: 3200
          volumeMounts:
            - name: config
              mountPath: /etc/tempo
            - name: data
              mountPath: /var/tempo
      volumes:
        - name: config
          configMap:
            name: tempo-config
        - name: data
          persistentVolumeClaim:
            claimName: tempo-data